.root {
    margin: 0 auto;
    padding: 2.3em 3em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    background-color: whitesmoke;
}

.title {
    font: var(--large-font);
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

.paragraph {
    font-size: 12px;
    margin-top: 80px;
    gap: 3px;
    justify-content: center;
    font: var(--paragraph-font);
    color: var(--black);
}

.detail {
    font: var(--small-font);
}

.navbarcomponent {
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 327px;
    z-index: 5;
}

.toolbarcomponentIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 51px;
    object-fit: contain;
    z-index: 0;
}

.webglcomponent {
    position: absolute;
    bottom: 86px;
    top: 86px;
    left: calc(12.5% + 86px);
    box-sizing: border-box;
}

.statspanelcomponent {
    top: 86px;
    position: absolute;
    right: 45px;
    box-sizing: border-box;
}

.todolistcomponent {
    position: absolute;
    top: 451px;
    right: 45px;
    box-sizing: border-box;
    bottom: 86px;
    align-content: end;
}
